*,*::after,*::before{box-sizing:inherit;padding:0;margin:0;}
body{box-sizing: border-box;}
/*===============*/
.container{
    //TEST
    height:100vh;
    overflow: hidden;
    //TEST
    display:grid;
    grid-template-columns: .9fr [dashboard-end] 5fr;

}


.dashboard{

    &__container{
        z-index: 10;
        background-color: rgb(8, 0, 115);
        color:white;
        
        grid-column-end:dashboard-end;

        display:grid;
        grid-template-rows: max-content max-content auto;
        align-items: start;
        justify-content: center;
        gap:3.5rem;

        font-size: 1.8rem;

        padding:3rem 3rem 0 2.5rem;


    }
    &__nav{}
    &__items{}
    &__item{
        list-style-type: none;

        & a,a:link,a:active,a:visited,a:focus,a:focus-visible{
            display:inline-block;
            position: relative;
            outline:none;

            text-decoration: none;
            color:white;
            font-weight: 700;
            transition: all .2s;

            &::before{
                position: absolute;
                content:"";
                display:block;
                bottom:-1px;
                right:0;
                width:0;
                height: 3px;
                
                background-color: rgb(255, 255, 255);
                transition: all .2s;
                border-radius: 20px;

            }
        }
        & a:hover{
            transform: translateY(-3px);
            &:before{
                width:100%;
            }
        }
        &:not(:last-child){
            margin-block-end:2rem ;
        }
    }
    
    &__header{}
    &__links{}
    &__extra{}
}




.main{
    display:grid;
    grid-template-rows: .26fr auto;
    overflow:auto;
}

.user-nav{
    
    &__container{
        display:grid;
        padding:0 5rem;
        grid-template-columns: 2fr  1fr ;
        grid-template-rows: .9fr  1fr;
        background-color: rgb(224, 224, 224);
        box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.303);
        z-index: 5;
    }
    &__uppercontainer{
        display:grid;
        grid-template-columns: subgrid;
        grid-column: span 2;


    }
    &__lowercontainer{
        display:grid;
        grid-template-columns: subgrid;
        grid-column: span 2;
    }
    &__buttons{
        display:flex;
        justify-content: space-between;
        align-items: center;
        gap:1rem;
    }
    &__button{
        font-size:1.3rem;
        font-weight: bold;
        padding:1.3rem 4rem;
        outline:none;
        border:none;
        border-radius: 30px;
        background-color:rgb(8, 0, 115);;
        color:white;
    cursor: pointer;}
}
.search{

    position: relative;
    display:flex;
    align-items: center;
    &__box{
        padding:.5rem 1rem;
        padding-inline-start: 5rem;
        
        font-size: 1.5rem;
        width:clamp(20rem,100%,85rem);
        height: 3.5rem;
        
        outline:none;
        border: none;
        border-radius: 20px;
    }
    &__submit{
        position:absolute;
        left:2rem;
        
        width:2rem;
        height:3.5rem;
        
        background-color: transparent;
        border:none;
        cursor: pointer;
        &:hover{
            background-color: aliceblue;
        }
    }
    

}
.user{
    display:flex;
    justify-content: end;
    align-items: center;
    gap:5rem;

    font-size: 1.4rem;
    &__pfp{
        height: 4.5rem;
        
        border-radius: 50%;
    }
    &__name{
        font-size: 1.6rem;
        padding:1.5rem;}
    &__notif{}


    //lower container

    &__welcome{
        display:flex;
        align-items: center;
        gap:4rem;
        font-weight:500;
    }
    &__pfp--big{
        height: 7em;
    }
    &__welcome-text{
        font-size: 1.2rem;
        line-height: 1.5;
        padding:1rem;

        &--name{font-size: 2.3em;}

    }
}



.content{
    &__container{
        display:grid;
        grid-template-columns: 4fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap:4rem;
        row-gap: 3rem;
        padding:3rem;
        
        background-color: rgb(223, 225, 235);
        overflow:auto;
    }
    &__project{
        grid-column: 1/2;
        grid-row: 1/-1;


    }
    &__ann{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    &__trending{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    &__heading{
    font-size: 1.7rem;
        
    margin-block-end: 1.3rem;}

}

.project{

    &__items{

        display:grid;
        grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));

        gap:2rem;
    }



}
.ann{

    &__container{
        display:grid;
        justify-content: center;
        align-items: center;
        grid-template-rows: repeat(auto-fit,1fr auto);
        background-color: white;
        padding:.5rem 1rem; 
        border-radius: 5px;
        height:90%;
        font-size: 1.3rem;
    }
    
    &__heading{
        font-weight: bold;
        font-size: 1.2em;
        margin-block-end: .5rem;
        display:inline-block;


    }
    
    &__text{
        margin-block: 1rem;
    }
}
.trending{
    &__container{
        display:flex;
        flex-direction: column;
        padding:.5rem 1.2rem;
        background-color: white;
        
        border-radius: 4px;
    }
    &__user{display:flex;
        margin:1rem;
        justify-content: start;
        gap:3rem;
        font-size: 1.3rem;
        line-height: 1.5;
    }
    &__user-details{}
    &__user-pfp{
        border-radius: 50%;
        width: 3.2em;
    }
    &__user-name{}
    &__user-status{}




}