*, *::after, *::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
}

/*===============*/
.container {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 0.5fr [dashboard-end] auto;
}

.dashboard__container {
  z-index: 10;
  background-color: rgb(8, 0, 115);
  color: white;
  grid-column-end: dashboard-end;
  display: grid;
  grid-template-rows: max-content max-content auto;
  align-items: start;
  justify-content: center;
  gap: 3.5rem;
  font-size: 1.8rem;
  padding: 3rem 3rem 0 2.5rem;
}
.dashboard__item {
  list-style-type: none;
}
.dashboard__item a, .dashboard__item a:link, .dashboard__item a:active, .dashboard__item a:visited, .dashboard__item a:focus, .dashboard__item a:focus-visible {
  display: inline-block;
  position: relative;
  outline: none;
  text-decoration: none;
  color: white;
  font-weight: 700;
  transition: all 0.2s;
}
.dashboard__item a::before, .dashboard__item a:link::before, .dashboard__item a:active::before, .dashboard__item a:visited::before, .dashboard__item a:focus::before, .dashboard__item a:focus-visible::before {
  position: absolute;
  content: "";
  display: block;
  bottom: -1px;
  right: 0;
  width: 0;
  height: 3px;
  background-color: rgb(255, 255, 255);
  transition: all 0.2s;
  border-radius: 20px;
}
.dashboard__item a:hover {
  transform: translateY(-3px);
}
.dashboard__item a:hover:before {
  width: 100%;
}
.dashboard__item:not(:last-child) {
  margin-block-end: 2rem;
}
.main {
  display: grid;
  grid-template-rows: 0.26fr auto;
}

.user-nav__container {
  display: grid;
  padding: 0 5rem;
  padding-block-end: 1rem;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: rgb(224, 224, 224);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.303);
  z-index: 5;
}
.user-nav__uppercontainer {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 2;
}
.user-nav__lowercontainer {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 2;
}
.user-nav__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-nav__button {
  font-size: 1.6rem;
  padding: 1.3rem 3.5rem;
  outline: none;
  border: none;
  border-radius: 30px;
  background-color: rgb(8, 0, 115);
  color: white;
  cursor: pointer;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
}
.search__box {
  padding: 0.5rem 1rem;
  padding-inline-start: 5rem;
  font-size: 1.6rem;
  width: clamp(20rem, 100%, 85rem);
  height: 4rem;
  outline: none;
  border: none;
  border-radius: 20px;
}
.search__submit {
  position: absolute;
  left: 2rem;
  width: 2rem;
  height: 4rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.search__submit:hover {
  background-color: aliceblue;
}

.user {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 6rem;
  font-size: 1.5rem;
}
.user__pfp {
  height: 3em;
  border-radius: 50%;
}
.user__name {
  font-size: 1.7rem;
  padding: 1.5rem;
}
.user__welcome {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.user__pfp--big {
  height: 7em;
}
.user__welcome-text {
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 1rem;
}
.user__welcome-text--name {
  font-size: 3rem;
}

.content__container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4rem;
  padding: 3rem;
  background-color: rgb(223, 225, 235);
  overflow: auto;
}
.content__project {
  grid-column: 1/2;
  grid-row: 1/-1;
}
.content__ann {
  grid-column: 2/3;
  grid-row: 1/2;
}
.content__trending {
  grid-column: 2/3;
  grid-row: 2/3;
}
.content__heading {
  font-size: 2rem;
  margin-block-end: 2rem;
}

.project__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3rem;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Roboto;
}

.item__container {
  padding: 3rem 2rem;
  border-inline-start: 6px solid orange;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  overflow: wrap;
}
.item__container--heading {
  font-size: 1.8rem;
  font-weight: bold;
  margin-block-end: 1rem;
}
.item__container--text {
  font-size: 1.4rem;
}

/*# sourceMappingURL=style.css.map */
